// Colorcitos

$color-main: #e3d5ca;
$color-btn: #4caf4fa2;
// colores de testeo de querys
$color-test-over-pc: #008080;
$color-test-pc: #4169e1;
$color-test-tablet: #7fffd4;
$color-test-mobile: #fa8072;
