@import "size";
@import "extends";
@import "colors";

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .container-index{
        background-color: $color-test-mobile;
    }

    .index-flex{
        margin: 25px;
    }

    .container-index .index-flex:nth-of-type(4){
        display: none;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.6;
    }
    
    .grid-galery-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {   
            @include size(350px, 200px);
            margin: 15px;

            &:hover{
                all: unset;
            }
        }
    }

    .section-img{
        img{
            @include size (350px,auto);
            object-fit: contain;
            margin: 20px;
        }
    }

    .section-text{
            margin: 10px 25px;
            font-size: 15;
    }

    .container-section {
        @extend %container-flex;
    }
    
    .container-section > *:nth-of-type(3) {
        order: 4; 
    }
    
    .container-section > *:nth-of-type(4) {
        order: 3; 
    }
    
    .article-img img{
        margin: 20px 0px;
        width: 300px;
        height: auto;
    }

    .aside-info{
        margin: 50px;
    }

    .container-book{
        @extend %container-flex;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    .container-index{
        background-color: $color-test-tablet;
        .index-flex{
            @include size (auto,auto);
            @include pad-mar(0, 10px);
            font-size: 14px;
            & img{
                @include size (350px, auto)
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .container-index{
        background-color: $color-test-pc;
        .index-flex{
            @include size (350px,"");
            // me quedaba mas lindo sin parametro asi que lo rompi apropocito jasjas seguramente este mal como practica
            // pero me funciono asi que nada ese "" esta super mal.
            @include pad-mar(20px, 0);
            font-size: 15px;
            & img{
                @include size (350px, auto)
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px){
    .container-index{
        background-color: $color-test-over-pc;
        .index-flex{
            @include size (500px, auto);
            @include pad-mar(20px, 0);
        }
    }
}