@import "size";
@import "extends";

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .container-index{
        background-color: salmon;
    }

    .index-flex{
        margin: 25px;
    }

    .container-index .index-flex:nth-of-type(4){
        display: none;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.6;
    }
    
    .grid-galery-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {   
            @include size(350px, 200px);
            margin: 15px;

            &:hover{
                all: unset;
            }
        }
    }

    .section-img{
        img{
            @include size (350px,auto);
            object-fit: contain;
            margin: 20px;
        }
    }

    .section-text{
            margin: 10px 25px;
            font-size: 15;
    }

    .container-section {
        @extend %container-flex;
    }
    
    .container-section > *:nth-of-type(3) {
        order: 4; 
    }
    
    .container-section > *:nth-of-type(4) {
        order: 3; 
    }
    
    .article-img img{
        margin: 20px 0px;
        width: 300px;
        height: auto;
    }

    .aside-info{
        margin: 50px;
    }

    .container-book{
        @extend %container-flex;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .container-index{
        background-color: aquamarine;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .container-index{
        background-color: royalblue;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px){
    .container-index{
        background-color: teal;
    }
}